.jz-pages-assets-flow__index {
  background:#f2f2f2;
  .jz-pages-assets-flow__item {
    background-color: $backgroundColor
    border-bottom: 1PX solid #e8e2e2
  }
  .statements {
    background-color: white
  }
}
