.jz-pages__finance {

  .jz-pages__finance-list__item {
    background-color: white;    
    border-radius: 12PX
  }

  .jz-pages__finance__child-list {
    font-size: 14PX
  }

  .jz-pages__finance__child-total {
    padding: 8PX 16PX;
    border-bottom: 1px dashed #dcdcdc;
    font-size: 13PX;
    color: #898c8e;
  }

  .jz-pages__finance-header {
    background: linear-gradient(to bottom right, #fbfbfb, #ecd214);
    border-radius: 24PX
  }

  .jz-pages__finance-list {
    .icon-image {
      width: 25PX;
      height: 25PX;
      image {
        width: 100%;
        height: 100%;
      }
    }
  }
}