// 通用组件样式
@import "./vars"
@import "./themes/index"
@import "./common/index"

// 组件通用
@import "./components/statement"
@import "./components/statement_form"

// 页面独立样式
@import "./pages/index/index"
@import "./pages/profile/index"