// 通用组件样式
@import "./vars"
@import "./themes/index"
@import "./common/index"

// 组件通用
@import "./components/statement"
@import "./components/statement_form"
@import "./components/asset_banner"

// 页面独立样式
@import "./pages/index/index"
@import "./pages/profile/index"
@import "./pages/profile/category-form"
@import "./pages/finance/index"
@import "./pages/finance/asset_flow"
@import "./pages/statements/detail"
@import "./pages/settings/chart"
@import "./pages/budget/index"