.jz-pages__profile {

  .user-info {
    background-color: #fbfbfb
    border-radius: 24PX
  }

  .feature {
    background-color: #fbfbfb
    border-top: 1px dashed #e4e3e3
  }

  image {
    border-radius: 50%
  }
}