.jz-image-normal {
  display: inline-block

  width: 100px;
  height: 100px;

  image {
    width: 100%;
    height: 100%;
  }

  &.radius {
    border-radius: 30PX
    image {
      border-radius: 30PX
    }
  }
}