.jz-pages__index {
  .jz-pages__index-header {
    .row-content-block {
      background-color: #fbfbfb
      padding: 16PX
      border-radius: 21PX
      width: 45%
      text-align: center
    }
    .amount-item {
      font-size: 23PX
    }
  }

  .remark-statement-btn {
    background-color: $primaryBgColor
    color: #fbfbfb;
    border-radius: 18PX;
    padding: 0 16PX;
  }
}
