.jz-common-components__button {
  background: $primaryBgColor
  color: $primaryBgTextColor
  margin: 12PX
  &.primary {
    background: white
    color: black
  }
  &.dangerous {
    background: red
    color: white
  }
}