.jz-common-components__button {
  background: $primaryBgColor
  color: $primaryBgTextColor
  display: flex
  justify-content: center
  align-items: center

  padding: 10PX
  margin: 12PX
  border-radius: 8PX
}