.statement-form__expend-form {
  .f-column {
    border-bottom: 1px solid #f4f4f4
  }
  .statement-form__quick-select {
    text-align: right
    background: $backgroundColor
  }
  .statement-form__quick-select > .ui.label {
    display: inline-block
    background: #dcecf5
    padding: 6PX
    margin: 8PX 6PX
    border-radius: 6PX
    font-size: 14PX
  }
}

.statement-form__category-select {
  position: fixed
  bottom: 0
  height: 100vh
  width: 100%
  z-index: 999
  .category-select__mask {
    background: rgba(0,0,0, 0.5)
    position: absolute
    bottom: 0
    height: 100vh
    width: 100%
    z-index: 99
  }
  .category-select__main {
    background: #f9f9f9
    border-radius: 6PX 6PX 0 0
    display: flex
    flex-direction: column
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    z-index: 100

    animation:category-select 0.5s;
    -webkit-animation:category-select 0.5s;
    animation-fill-mode: forwards;

    .category-select__main-title {
      padding: 12PX;
      font-weight: bold;
      border-bottom: 1px solid $borderColor;
    }
    .category-select__main-content {
      overflow-y: auto
      flex: 1
    }
  }
  
  .category-list__item {
    display: inline-block
    text-align: center
    width: 20%
    margin: 12PX 0
    image {
      width: 30PX
      height: 30PX
    }
  }
  .category-select__header {
    font-weight: bold
    font-size: 16PX
    margin: 12PX 
  }

  @-webkit-keyframes category-select
  {
      0%   {height: 0%}
      100% {height: 80%}
  }
}