
$default = {
  primaryColor: #2196F3
  primaryBgColor: #2196F3
  primaryBgTextColor: #ffffff
  textColor: #212121
  secondaryText: #757575
  borderColor: #f4f4f4
  backgroundColor: #f4f4f4
}

$pure = {
  primaryColor: #cccccc
  primaryBgColor: #cacaca
  primaryBgTextColor: #212121
  textColor: #212121
  secondaryText: #757575
  borderColor: #f4f4f4
  backgroundColor: #f4f4f4
}

$pink = {
  primaryColor: #ffbeb9
  primaryBgColor: #f9e0de
  primaryBgTextColor: #636363
  textColor: #636363
  secondaryText: #757575
  borderColor: #f4f4f4
  backgroundColor: #f4f4f4
}

$black = {
  // 顶部 header 的背景
  primaryBgColor: #53535d
  // 顶部 header 的颜色
  primaryBgTextColor: #ffffff
  // 底部 tabBar
  primaryColor: #636363
  textColor: #636363
  secondaryText: #757575
  borderColor: #f4f4f4
  backgroundColor: #f4f4f4
}

$themes = {
  default: $default,
  pure: $pure,
  pink: $pink,
  black: $black
}

for themeKey, _ in $themes {
  $primaryColor = $themes[themeKey]['primaryColor']
  $primaryBgColor = $themes[themeKey]['primaryBgColor']
  $primaryBgTextColor = $themes[themeKey]['primaryBgTextColor']
  $textColor = $themes[themeKey]['textColor']
  $secondaryText = $themes[themeKey]['secondaryText']
  $borderColor = $themes[themeKey]['borderColor']
  $backgroundColor = $themes[themeKey]['backgroundColor']
  
  .jz-theme-{themeKey} {
    @import "./root"
    @import "./components/button"
    @import "./components/tab"
    @import "./components/loading"
  }
}
